@charset "utf-8";
/* CSS Document */

body.android .teachers .item a .con .list ul li .new {line-height: 16px;}
body.android .courselist .item a .con .tags span {line-height: 16px;}
body.android .courselist .item a .con .note .see {line-height: 16px;}
body.android .discuss-list .item .con .note .reply a {line-height: 12px;}
body.android .schoollist .item a .con .tags span {line-height: 16px;}
body.android .teachercon-intro .con .tags span {line-height: 16px;}
body.android .livedoing .item .con .note span.txt {line-height: 18px;}
body.android .livedoing .item .con .note span.doing {line-height: 18px;}
body.android .usercenter-intro .box .con .name .vip {line-height: 18px;}
body.android .usernotes .item .title .btn a span {line-height: 28px;}
body.android .usernotes .item .title .btn a span {line-height: 28px;}









